* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  line-height: 2;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #3b82ad 0%, #e2ebf0 100%);
}

button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: large;
}
